h1 {
  font-size: 20px;
  font-family: Times, "Times New Roman", serif;
  font-weight: normal;
  clear: both;
  padding: 0 5px;
}

a {
  text-decoration: none;
  color: #d2738a;
}

.article {
  text-align: center;
  height: auto;
}

.block {
  width: 70%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 6px;
  font-size: 13px;
  padding: 20px 0;
}


.blacked {
  box-shadow: black 0px 5px 10px;
  background-color: black;
}

#head {
  margin-top: 40px;
}

#bottom {
  margin-bottom: 40px;
}

#head > a{
  letter-spacing: 0;
}

.gif-article {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

#gf1{
  background-image: url(img/gf1.gif);
  width: 305px;
  height: 354px;
  margin-top: 100px;
}

body {
  background-image: url(img/bg.gif); 
  color: #c1b492;
  word-wrap: break-word;
}

.repo {
  float: left;
  width: 180px;
  height: 230px;
  font-size: 18px;
  margin: 0 15px;
  margin-top: 20px;
  text-align: center;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.repo > .link {
  margin: 20px 0;
  padding: 0 8px;
}

.repo > .details {
  padding: 0 8px;
  padding-top: 40%;
}

#projects {
  letter-spacing: 2px;
}
